/* Font */
@font-face 
{
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face 
{
    font-family: "RobotoBold";
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

/* Default */
body
{
    box-sizing: border-box;
}
.title,
.sub-title,
.text,
ul
{
    margin: 0;
}
ul li
{
    list-style-type: none;
}
* 
{
    box-sizing: inherit;
}

/* Layout */
.container-fluid
{
    background-color: #ECEFF1;
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar header"
                        "sidebar container"
}
.header
{
    background-color: #FBFBFB;
    color: #332D2D;
    display: grid;
    grid-area: header;
    grid-template-rows: repeat(2, auto);
    padding: 1rem 4rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.sidebar
{
    grid-area: sidebar;
    padding: 1rem 2rem;
    background-color: #2979FF;
    color: white;
}
.container 
{
    background-color: transparent;
    color: #332D2D;
    display: grid;
    grid-area: container;
    grid-template-columns: 3fr 1fr;
    padding: 2rem 3rem 2rem 1.5rem;
    gap: 1.5rem;
}

.search-bar
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.action-bar
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}

.search-bar-control
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.search-bar-profile
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.action-bar-text
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 1.5rem;
}

.main-cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem 2.5rem;
}

.card 
{
    padding: 2rem 1.5rem;
    height: 100%;
    background-color: #FBFBFB;
    color: #332D2D;
    display: flex;
    flex-direction: column;
    border-left: 0.5rem solid #651FFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
}
.card:hover
{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.announce,
.trend
{
    padding: 2rem;
    background-color: #FBFBFB;
    color: #332D2D;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.card-links
{
    display: flex;
    justify-content: end;
    margin-top: auto;
    gap: 1rem;
}

.trend-item
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}

/* Spacing */
.mb-1
{
    margin-bottom: 0.5rem;
}
.mb-2
{
    margin-bottom: 1rem;
}
.mb-3
{
    margin-bottom: 1.5rem;
}
.mb-4
{
    margin-bottom: 2rem;
}
.mb-5
{
    margin-bottom: 2.5rem;
}

.mr-4
{
    margin-right: 2rem;
}
.mr-5
{
    margin-right: 2.5rem;
}

.mx-2
{
    margin: 1rem 0;
}

/* Typography */
.title,
.sub-title,
.text
{
    color: inherit;
}
.title
{
    font-size: 2rem;
    font-family: "RobotoBold", Arial, Verdana, sans-serif;
    font-weight: bold;
}
.sub-title
{
    font-size: 1.5rem;
    font-family: "RobotoBold", Arial, Verdana, sans-serif;
    font-weight: bold;
}
.text
{
    font-size: 1rem;
    font-weight: normal;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.5rem;
}
.action-bar .name 
{
    font-weight: bold;
    font-family: "RobotoBold", Arial, Verdana, sans-serif;
    font-size: 0.75rem;
}
.card-title
{
    font-size: 1.25rem;
}
.sidebar-nav-link
{
    font-weight: bold;
    font-family: "RobotoBold", Arial, Verdana, sans-serif;
    cursor: pointer;
}

/* Components */
.hr 
{
    background-color: #E0E0E0;
    color: transparent;
}

.logo
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}
.sidebar-nav-item
{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.search-input
{
    width: 50rem;
    border: none;
    background-color: #ECEFF1;
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    transition: box-shadow 0.3s ease;
}
.search-input:focus
{
    border: none;
    outline: none;
    box-shadow: 0px 0px 8px rgba(33, 150, 243, 0.8);
}
.search-icon, 
.notification-icon,
.card-link
{
    font-size: 1.5rem;
    cursor: pointer;
}
.user-logo
{
    font-size: 2rem;
    padding: 0.2rem 1rem;
    background-color: #651FFF;
    color: white;
    border-radius: 0.75rem;
}
.action-bar-text .user-logo
{
    font-size: 2.5rem;
    padding: 0.35rem 1.25rem;
    border-radius: 1.25rem;
}
.btn
{
    background-color: #2979FF;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.btn:hover
{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}