/* Layout */
.container-fluid
{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar header"
                        "sidebar container"
}
.header
{
    display: grid;
    grid-area: header;
    grid-template-rows: repeat(2, auto);
}
.sidebar
{
    grid-area: sidebar;
}
.container 
{
    display: grid;
    grid-area: container;
    grid-template-columns: 3fr 1fr;
}

.search-bar
{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.action-bar
{
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.main-cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}